{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Rutina: {{ routine.start_time }}</h1>
    <p><strong>Entrenador:</strong> {{ routine.trainer }}</p>
    <h3>Ejercicios</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre del Ejercicio</th>
                <th>Duración (minutos)</th>
            </tr>
        </thead>
        <tbody>
            {% for routine_exercise in exercises %}
            <tr>
                <td>{{ exercise.exercise.name }}</td>
                <td>{{ exercise.duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
