{% extends 'trainers_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Calendario</h1>
    <div class="calendar d-flex justify-content-between mt-4">
        {% for day in week_days %}
        <div class="day {% if day.is_today %}bg-primary text-white{% else %}bg-light{% endif %} rounded p-3 shadow-sm">
            <h5 class="mb-3">{{ day.name }}</h5>
            <h6>{{ day.date }}</h6>
            <div>
                {% for hour in time_slots %}
                <div class="time-slot border rounded p-2 my-1">
                    {% with routine=calendar_data[day.day_index][hour] %}
                        {% if routine %}
                            <a href="{% url 'view_routine' routine.routine.id %}">
                                {{ routine.routine.name }}
                            </a>
                            <a href="{% url 'remove_routine_from_calendar' routine.id %}" class="text-danger ms-2">
                                &times;
                            </a>
                        {% else %}
                            <a href="{% url 'assign_routine_to_calendar' %}?day={{ day.day_index }}&hour={{ hour }}">+</a>
                        {% endif %}
                    {% endwith %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
