{% extends 'trainers_app/base.html' %}

{% block content %}
    <h1 class="text-center mb-4">Llista d'Exercici</h1>

    <div class="text-center mb-4">
        <a href="{% url 'create_exercise' %}" class="btn btn-primary btn-lg">Afegir Exercici</a>
    </div>

    <div class="container">
        {% if exercises %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for exercise in exercises %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header bg-primary text-white">
                                <h5 class="card-title mb-0">{{ exercise.name }}</h5>
                            </div>
                            <div class="card-body">
                                <p><strong>Categoría:</strong> {{ exercise.category }}</p>
                                <p><strong>Descripció:</strong> {{ exercise.description|slice:":20" }}{% if exercise.description|length > 20 %}...{% endif %}</p>
                                <div class="d-flex justify-content-left" style="gap: 5px;">
                                    <a href="{% url 'view_exercise' exercise.id %}" class="btn btn-primary btn-sm">Ver Detalls</a>

                                    <a href="{% url 'edit_exercise' exercise.id %}" class="btn btn-warning btn-sm">Editar</a>

                                    <form method="POST" action="{% url 'delete_exercise' exercise.id %}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este ejercicio?');">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-muted">No hi ha exercicis disponibles</p>
        {% endif %}
    </div>
{% endblock %}