{% extends 'trainers_app/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">
                {% if edit_mode %}
                    Editar Exercici: {{ exercise.name }}
                {% else %}
                    Crear Nou Exercici
                {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_name">Nom de l'exercici</label>
                    {{ form.name }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_description">Descripció</label>
                    {{ form.description }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_category">Categoría</label>
                    {{ form.category }}
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                        {% if edit_mode %}
                            Editar Exercici
                        {% else %}
                            Crear Ejercici
                        {% endif %}
                    </button>
                </div>
            </form>
            {% if edit_mode %}
            <div class="text-center mt-3">
                <form method="POST" action="{% url 'delete_exercise' exercise.id %}" onsubmit="return confirm('¿Estás segur de que vols eliminar aquest exercici?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
