{% extends 'trainers_app/base.html' %}

{% block content %}
    <h1 class="text-center mb-4">Detalls de la Rutina</h1>

    <div class="container">
        <!-- Informació de la rutina -->
        <div class="mb-4">
            <h3>Rutina de {{ routine.trainer.username }}</h3>
            {% if start_date %}
                <p><strong>Hora de inicio:</strong> {{ routine.start_time|date:"H:i" }}</p> <!-- Si esta asignada al calendario (falta por hacer) -->
            {% endif %}
            <p><strong>Dificultad:</strong> {{ routine.get_difficulty_display }}</p>
            <p><strong>Duración total:</strong> {{ routine.get_total_duration }} minuts</p>
        </div>

        <h4>Exercicis</h4>
        <!-- Lista de ejercicios asociados a la rutina -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for r_ex in routine_exercises %}

                <div class="col">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title mb-0">{{ r_ex.exercise.name }}</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Categoría:</strong> {{ r_ex.exercise.category }}</p>
                            <p><strong>Descripció:</strong> 
                                {% if r_ex.exercise.description %}
                                    {{ r_ex.exercise.description|slice:":20" }}{% if exercise.description|length > 20 %}...{% endif %}</p>
                                {% else %}
                                    --
                                {% endif %}
                            <p><strong>Repeticions:</strong> {{ r_ex.repetitions|default_if_none:"--" }}</p>
                            <div class="d-flex" style="gap: 5px;">
                                <a href="{% url 'edit_exercise' r_ex.exercise.id %}" class="btn btn-warning btn-sm">Editar</a>

                                <form method="POST" action="{% url 'delete_exercise' r_ex.exercise.id %}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este ejercicio?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hi ha exercicis asociats a aquesta rutina.</p>
            {% endfor %}
        </div>

        <!-- Botón de vuelta -->
        <div class="mt-4 text-center">
            <a href="{% url 'view_routines' %}" class="btn btn-secondary">Tornar a les rutines</a>
        </div>
    </div>
{% endblock %}