{% extends 'trainers_app/base.html' %}

{% block content %}
    <h1 class="text-center mb-4">Lista de Rutinas</h1>
           
    <div class="text-center mb-4">
        <a href="{% url 'create_routine' %}" class="btn btn-primary btn-lg">Crear Nueva Rutina</a>
    </div>

    {% if routines %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for routine in routines %}
                <div class="col">
                    <div class="card border-primary h-100">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title mb-0">{{ routine.name }}</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Dificultad:</strong> {{ routine.difficulty }}</p>
                            <p><strong>Duración total:</strong> {{ routine.total_duration }} minutos</p>
                            <p><strong>Entrenador:</strong> {{ routine.trainer.first_name }} {{ routine.trainer.last_name }}</p>
                            <div class="d-flex justify-content-left" style="gap: 5px;">
                                <a href="{% url 'view_routine' routine.id %}" class="btn btn-primary btn-sm">Ver Detalles</a>
    
                                <a href="{% url 'edit_routine' routine.id %}" class="btn btn-warning btn-sm">Editar</a>
    
                                <form method="POST" action="{% url 'delete_routine' routine.id %}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar esta rutina?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">No hay rutinas disponibles.</p>
    {% endif %}
{% endblock %}